version: '3'

services:
  db:
    image: postgres:12.0-alpine
    environment:
      - POSTGRES_DB=development
      - POSTGRES_USER=developer
      - POSTGRES_PASSWORD=developer
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "3306:3306"

  backend:
    image: backend:v1
    restart: always
    build:
      context: docker/nginx
    ports:
      - "80:80"
    volumes:
      - ./:/app
    depends_on:
      - php

  php:
    image: php:v1
    restart: always
    working_dir: /app
    build:
      context: docker/php
    volumes:
      - ./:/app
    depends_on:
      - db

volumes:
  postgres_data:
